@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: "Knewave", sans-serif;
  --animate-emote: 0.5s think steps(2) infinite;
  --animate-throne: 2s throne steps(9) infinite;
  --animate-skull: 4s skull steps(21) forwards, 4s skullFade linear forwards;

  @keyframes think {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 200% 0%;
    }
  }

  @keyframes throne {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 112.5% 0%;
    }
  }

  @keyframes skull {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 105% 0%;
    }
  }

  @keyframes skullFade {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    98% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}